@model IEnumerable<MvcRestfulContactManager.Models.Contact>


@{
    ViewBag.Title = "Index";
}

<h2>Index  Contacts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

        </tr>
    }

</table>

<!-- -->




<!--
    <form id="saveContactForm" method="post">
    <h3>Create a new Contact</h3>
    <p>
        <label for="contactId">Contact Id:</label>
        <input type="text" name="Id" />
    </p>
    <p>
        <label for="contactName">Contact Name:</label>
        <input type="text" name="Name" />
    </p>
    <input type="button" id="saveContact" value="Save" />
</form>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $.getJSON('Contact/Index/', function (contactsJsonPayload) {
                $(contactsJsonPayload).each(function (i, item) {
                    $('#contacts').append('<li>' + item.Name + '</li>');
                });
            });
        });

        $('#saveContact').click(function () {
            $.post("Contact/Index/",
                  $("#saveContactForm").serialize(),
                  function (value) {
                      $('#contacts').append('<li>' + value.Name + '</li>');
                  },
                  "json"
            );
        });

    </script>
    
    
    }

    -->